extends layout 
block content
    section.course
      h3 Popular Courses 
      div.coursecontainer
        each course in courses
          div.course-card
            div.course-image
              img(src="images/indeximage.jpg")
            div.course-content
              h4.course-title #{course.name}
              p.course-description #{course.description}
              a.course-readmore(href="#") Read More