extends layout 
block content
  .hero
    h1 Join EduMate and Learn Something New Today
    p Over 130,000 online video courses with new additions published every month
    form
      input(type="text", placeholder="What do you want to learn today?")
      button(type="submit") Search
  .categories
    h2 Popular Categories
    ul
      li
        a(href="#") Development
      li
        a(href="#") Business
      li
        a(href="#") IT & Software
      li
        a(href="#") Marketing
      li
        a(href="#") Music
      li
        a(href="#") Personal Development
      li
        a(href="#") Photography
      li
        a(href="#") Design
