html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title EduMate
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/profile.css')
    link(rel='stylesheet', href='/css/editprofile.css')
    link(rel='stylesheet', href='/css/signup.css')
    link(rel='stylesheet', href='/css/course.css')
  body
    header
      div.header-image
        h1 
          a(href='/') EduMate
          p Welcome to the world of modern education
    nav
      div.container
        ul
          if user
            li
              a(href='/home') Home
            li 
              a(href='/mycourses') My Learning
            li
              a(href='/courseslogin') Courses
            li
              a(href='/profile/#{user.id}') Profile
            li
              a(href='/aboutlogin') About Us
            li
              a(href='/contactlogin') Contact Us
            li
              a(href='/logout') Logout
          else 
            li 
              a(href='/') Home
            li
              a(href='/courses') Courses
            li
              a(href='/about') About Us
            li
              a(href='/contact') Contact Us
            li
              a(href='/signup-page') SignUp
            li
              a(href='/login-page') LogIn
    main  
      if message
        .alert-box
          p= message
      block content
    footer
      div.container
        p Copyright © 2023 EduMate

