extends layout 
block content
    .container
        h2 Sign Up
        form(action="/signup" method="POST")
          .form-group
            label(for="username") Username
            input(type="text" id="username" name="username" required)
          .form-group
            label(for="email") Email
            input(type="email" id="email" name="email" required)
          .form-group
            label(for="password") Password
            input(type="password" id="password" name="password" required)
          .form-group
            label(for="confirm-password") Confirm Password
            input(type="password" id="confirm-password" name="confirm-password" required)
          .form-group
            button.btn(type="submit") Sign Up